/**
 * @file plugins/themes/custom/styles/main.less
 * @brief Styles applying to the main content panel
 */
.pkp_structure_content, .pkp_structure_main {
  padding-top: 0;
}

.pkp_structure_footer_wrapper {
  background-color: @bg-base;
}

.pkp_structure_footer .ct_footer_img {
  display: inline-block;
  height: 142px;
}
.pkp_structure_footer .ct_footer_img img, .pkp_structure_footer .ct_footer_img svg {
  display: inline-block;
  height: 100%;
  max-width: 100%;
}
.ct_inline_container {
  display: inline-block;
}
.ct_w_50 {
  box-sizing: border-box;
  vertical-align: middle;
  width: 49.5%;
}
.ct_right {
  text-align: right;
}

.current_issue {
  display: none;
}

.has_site_logo .pkp_head_wrapper, .pkp_head_wrapper {
  position: relative;
  padding-top: 0;
}

.pkp_head_bg {
  visibility: hidden;
  width: 100%;
}

.lang-switch {
  height: 40px;
}

.lang-switch ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 3px;
  text-align: right;
}

.lang-switch svg {
  height: 100%;
  width: auto;
}

.lang-switch li {
  height: 100%;
  display: inline-block;
}

.lang-switch a {
  display: block;
  height: 100%;
  transition: 0.3s;
}

.lang-switch a:hover {
  transform: scale(1.1);
}

.custom-nav-wrap {
  bottom: 0;
  position: absolute;
  width: 100%;
}

ul.galleys_links {
  list-style: none;
}

ul.galleys_links>li {
  margin: 0.25em 0.5em;
}

@media (min-width: 480px) {
  .pkp_search input[name="query"] {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .pkp_structure_head
  {
      background: @bg-base;
  }
  .pkp_site_name .is_img
  {
      display: none;
  }
  #navigationPrimary
  {
      padding-left: 2em;
      font-weight: bold;
  }
  .pkp_navigation_primary_row
  {
      background: rgba(200, 200, 200, 0.8)
  }
  .pkp_head_bg {
    visibility: visible;
  }
  .c-site-head {
    display: none;
  }
  .custom-nav-wrap {
    position: static;
  }
  .pkp_site_name_wrapper {
    margin-top: -40px;
  }
}
@media (min-width: 992px) {
  .has_site_logo .pkp_head_wrapper, .pkp_head_wrapper {
    margin: 0 auto;
    min-height: 150px;
    position: relative;
    padding-top: 0;
    width: 953px;
  }
  .pkp_structure_content.has_sidebar {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 953px;
  }
  .pkp_structure_main:first-child:last-child {
    margin: 0;
    text-align: justify;
    width: 100%;
  }
  .pkp_structure_main:first-child:last-child:before, .pkp_structure_main:first-child:last-child:after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .has_site_logo .pkp_head_wrapper, .pkp_head_wrapper {
    position: relative;
    padding-top: 0;
    width: 1155px;
  }
  .pkp_structure_content.has_sidebar {
    border-right: 1px solid #ddd;
    width: 1155px;
  }
  .pkp_structure_sidebar.left{
    border-right: 1px solid #ddd;
    width: 280px;
  }

}

@media(max-width: 768px) {
  .has_site_logo .pkp_head_wrapper {
    padding: 24px 0 12px;
  }

  .pkp_head_bg {
    display: none;
  }

  .custom-nav-wrap {
    position: static;
  }

  .pkp_navigation_user_wrapper {
    top: 12px;
  }

  .pkp_site_name {
    font-size: 1.3em;
  }

  .pkp_site_name .is_text {
    font-size: 1em;
  }

  .pkp_site_name .is_img img {
    max-height: 11em;
  }

  .lang-switch {
    margin: 1em 0;
  }

  .lang-switch ul {
    text-align: center;
  }

  .lang-switch li {
    margin: 0 0.5em;
  }

  .pkp_navigation_primary>li>a {
    padding: 6px;
  }

  .pkp_search input[name="query"] {
    width: 100%;
  }

  .pkp_head_wrapper .pkp_search button {
    width: auto;
  }
  .ct_w_50 {
    box-sizing: border-box;
    vertical-align: middle;
    width: 49%;
  }
}
